
*{
    font-family: arial;
}

.InfoHeader{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
    
}

.DifButton{
    padding: 12px 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid;


    border-color: rgb(0, 123, 255);
    background-color: white;
    color:rgb(0, 123, 255);

}

.InfoText{
    padding-bottom: 50px;
}

.DifficultyText{
    font-size: 25px;
}
