
*{
    font-family: arial;
}

.InfoHeader{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    
}

.BackButton{

    margin-right: auto;
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid;
    border-color: rgb(0, 123, 255);
    background-color: white;
    color:rgb(0, 123, 255);
    cursor: pointer;
}

.DifButton{
    padding: 12px 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid;


    border-color: rgb(0, 123, 255);
    background-color: white;
    color:rgb(0, 123, 255);
    cursor: pointer;

}

.InfoText{
    padding-bottom: 50px;
}

.DifficultyText{
    font-size: 25px;
}
