* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background: white;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #919187;
  font-family: Arial;
  font-size: 20px; 
  display: flex;
  justify-content: center;
}


